<div class="nav-container">

    <!-- Navigation -->
    <div class="navigation">
        <div class="nav flex-column nav-pills" role="tablist">
            <a class="nav-link" data-toggle="pill" href="#tab-profile">Mi perfil</a>
            <a class="nav-link disabled" data-toggle="pill" href="">Mis Compras</a>
            <a class="nav-link active" data-toggle="pill" href="#tab-categories">Categorias</a>
            <a class="nav-link" data-toggle="pill" href="#tab-icons">Iconos</a>
            <a class="nav-link" data-toggle="pill" href="#tab-users">Usuarios</a>
        </div>
    </div>

    <!-- Tabs -->
    <div class="tab">
        <div class="tab-content">
            <app-profile id="tab-profile" class="tab-pane fade"></app-profile>
            <app-categories id="tab-categories" class="tab-pane fade show active"></app-categories>
            <app-users id="tab-users" class="tab-pane fade"></app-users>
            <app-icons id="tab-icons" class="tab-pane fade"></app-icons>
        </div>
    </div>

</div>