<div class="header">
    <div class="row">
        <div class=" col-9">
            <button class="btn btn-primary" data-target="#categoryModal" data-toggle="modal" type="button"><i
                    class="fas fa-paper-plane"></i>+ Agregar categoría</button>
        </div>
        <input class="form-control col-3" (keyup)="filterCategories()" [(ngModel)]="searchText" placeholder="Buscar..."
            type="search">
    </div>
</div>

<!-- Contenedor de categorías -->
<div class="categories-container">
    <div class="row">
        <div *ngFor="let category of filteredCategories">
            <app-category class="col" [category]="category"></app-category>
        </div>
    </div>
</div>

<!-- Modal categories -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Agregar categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- FORM MATEGORIES INIT  (ngSubmit)="save(null)"-->
                <form [formGroup]="formCategories">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" formControlName="nameFormCategory" (keyup)="errorsNewCategories.newCategory = false"
                            type="text" placeholder="Nombre de la categoría">
                        <small class="form-text text-muted invalid-feedback" *ngIf="true">
                            Hola
                        </small>
                    </div>
                </form>
                <!-- END FORM CATEGORIES -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="save(null)">Guardar</button>
            </div>
        </div>
    </div>
</div>