.div-center {
    border-radius: 5px;
    padding: 0.5em;
    margin: 0 auto;
    width: 70em;
    height: 20em;
    text-align: center;
  }

.div-menu-button{
    width: 10em;
    height: 30em;
    text-align: left;
}