<div class="div-center row">
    <div class="list-group">
        <button type="button" class="list-group-item btn-outline-dark" (click)="showUser()">Mi Perfil</button>
        <button type="button" class="list-group-item btn btn-outline-primary">Mis compras</button>
        <button type="button" class="list-group-item" disabled>Administrador</button>
        <button type="button" class="list-group-item btn-outline-primary" >Categorias</button>
        <button type="button" class="list-group-item btn-outline-primary" >Iconos</button>
        <button type="button" class="list-group-item btn-outline-primary" >Usuarios</button>
      </div>
      <div class="">
          <p></p>
          <p></p>
      </div>
</div>
