<div class="header">
    <div class="row">
        <div class=" col-9">
            <button class="btn btn-primary" data-target="#categoryCreatorModal" data-toggle="modal" type="button">
                <i class="fas fa-plus"></i> Agregar categoría
            </button>
        </div>
        <input class="form-control col-3" (keyup)="filterCategories()" [(ngModel)]="searchText" placeholder="Buscar..." type="search">
    </div>
</div>

<!-- Contenedor de categorías -->
<div class="categories-container">
    <div class="row">
        <div *ngFor="let category of filteredCategories">
            <app-category class="col" [category]="category"></app-category>
        </div>
    </div>
</div>

<!-- Modal categories -->
<div class="modal fade" id="categoryCreatorModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Agregar categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="formCategory" (ngSubmit)="addCategory()">
                <div class="modal-body">
                    <!-- Name -->
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" formControlName="name" (keyup)="errors.categoryName = false" [ngClass]="categoryName.dirty ? (categoryName.valid ? 'is-valid' : 'is-invalid') : ''" placeholder="Nombre de la categoría" type="text">
                        <small class="form-text text-muted" *ngIf="errors.categoryName">
                            Debes ingresar un nombre con mínimo 3 letras.
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancelar</button>
                    <button class="btn btn-primary" [class.disabled]="status.addingCategory" type="submit">
                        <span class="spinner-border spinner-border-sm" *ngIf="status.addingCategory"></span>
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>