<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ category.name }}</h5>
        <p class="card-text">Unidades: 15<br>Compra prom.: 4.5 unid.</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-primary" (click)="editCategory(category.id)" type="button">
                <i class="fas fa-pen"></i>Editar</button>
            <button class="btn btn-danger" (click)="removeCategory(category.id)" type="button">
                <i class="fas fa-trash"></i></button>
        </div>
    </div>
</div>