*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
    background-size: 100% 100%;
}

html {
    height: 100%;
    width: 100%;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
