<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #273746 ;">
  <a class="navbar-brand" href="" routerLink="/home">Gems</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/catalogue" href="" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catálogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contacto</a>
      </li>
    </ul>
    <!-- Login and Singin buttons -->
    <div id="login" class="contenedor-div" *ngIf="usersService.user != null">
      <!-- componente que muesta el nombre del usuario -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" style="background-color: #273746 ;"
          id="UserLogguer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ usersService.user?.firstName }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="UserLogguer">
          <a class="dropdown-item" routerLink="/settings">Mi Cuenta</a>
          <a class="dropdown-item" href="">Mis compras</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" data-target="#confSignOff" href="">Cerrar sesión</a>
        </div>
      </div>
    </div>
    <div id="login" class="contenedor-div" *ngIf="usersService.user == null">
      <button class="btn btn-outline-light" data-toggle="modal" data-target="#loginModal" type="button">
        Iniciar sesión</button>
      <button class="btn btn-outline-light" data-toggle="modal" data-target="#signInModal"
        type="button">Registrarme</button>
    </div>
  </div>
</nav>

<!-------------------------------------------- LOGOUT MODAL open ------------------------------------------->
<div class="modal fade" id="confSignOff" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Cerrar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro que deseas cerrar sesión?
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancelar</button>
        <button class="btn btn-primary" (click)="logout()" type="button">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------- LOGOUT MODAL close ------------------------------------------>

<!-- LOGIN MODAL -->
<app-login id="loginModal" class="modal fade" role="dialog" tabindex="-1"></app-login>

<!-- SIGNIN MODAL -->
<app-sign-in id="signInModal" class="modal fade" role="dialog" tabindex="-1"></app-sign-in>