<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #273746 ;">
  <a class="navbar-brand" href="" routerLink="/home">Gems</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/catalogue" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catálogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/profile">Perfil</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div id="login" class="contenedor-div">
      <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#loginModal">Iniciar
        sesión</button>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#registerModal">Registrarme</button>
    </div>

  </div>
</nav>

<!-- Modal login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #EAECEE;">
        <h4 class="modal-title" id="exampleModalCenterTitle" style="text-align: center;">Iniciar sesión</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- FORM LOGIN -->
        <!-- <form> -->
        <!-- <div>
                    <div class="container-fluid">
                        <img src="img/logo.png" class="img-rounded" alt="logo" width="304" height="236" />
                    </div>
                </div> -->
        <!-- <div id="containerIcon">
                    <svg  class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
                            clip-rule="evenodd" />
                    </svg>
                </div> -->
        <div class="form-group">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input type="email" class="form-control" id="inputUsuario" placeholder="Usuario" [(ngModel)]="email"
            aria-describedby="emailHelp" required>
          <small id="smallUserLog" class="form-text text-muted"
            *ngIf="(email?.length > 0 && email?.length < 5)||(!email?.includes('.com') || !email?.includes('@'))">
            <p style="color: red;">*Email no valido</p>
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="inputContrasenia" placeholder="Contraseña"
            [(ngModel)]="password" required>
          <small id="smallPassLog" class="form-text text-muted" *ngIf="(password?.length > 0)&&(password?.length < 5)">
            <p style="color: red;">*La contraseña debe tener más de 5 caracteres</p>
          </small>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input id="checkRecId" type="checkbox" class="custom-control-input" id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">Recuérdame</label>
              </div>
            </div>
            <div id="forgottenData" class="col-sm" style="text-align: right;">
              <a href="">Olvide mis dados</a>
            </div>
          </div>
        </div>
        <!-- </form> -->
        <!-- END FORM LOGIN -->
      </div>
      <div class="modal-footer" style="background-color: #EAECEE;">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-primary" (click)="login()">Iniciar Sesion</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal close -->

<!-- Modal Register -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #EAECEE;">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Registrar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- FORM REGISTRARSE -->
        <!-- <form> -->
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de Usuario</label>
          <input type="email" class="form-control" id="inputNombreRegistro" placeholder="Nombre"
            aria-describedby="emailHelp" [(ngModel)]="user.name" required>
          <small id="smallNameUserReg" class="form-text text-muted"
            *ngIf="(user.name?.length > 0)&&(user.name?.length < 3)">
            <p style="color: red;">*El nombre debe tener mas de 3 caracteres</p>
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Apellido de Usuario</label>
          <input type="email" class="form-control" id="inputApellidoRegistro" placeholder="Apellido"
            aria-describedby="emailHelp" [(ngModel)]="user.lastname" required>
          <small id="smallLastameUserReg" class="form-text text-muted"
            *ngIf="(user.lastname?.length > 0)&&(user.lastname?.length < 3)">
            <p style="color: red;">*El apellido debe tener mas de 3 caracteres</p>
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" [(ngModel)]="user.email" class="form-control" id="inputApellidoRegistro"
            placeholder="Correo Electronico" aria-describedby="emailHelp" required>
          <small id="smallEmailReg" class="form-text text-muted"
            *ngIf="(user.email?.length > 0 && user.email?.length < 5)||(!user.email?.includes('com') || !user.email?.includes('@'))">
            <p style="color: red;">*Email no valido</p>
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña" id="inputContrasenia"
            [(ngModel)]="user.password" required>
          <small id="smallPassReg" class="form-text text-muted"
            *ngIf="(user.password?.length > 0)&&(user.password?.length < 5)">
            <p style="color: red;">*Contraseña debe tener minimo 5 caracteres</p>
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirmar Contraseña</label>
          <input type="password" class="form-control" placeholder="Confirmar Contraseña" id="inputConfContrasenia"
            [(ngModel)]="confPassword" required>
          <small id="smallPassReg" class="form-text text-muted"
            *ngIf="!confPassword?.includes(user.password) || confPassword?.length != user.password.length">
            <p style="color: red;">*La contraseña NO es la misma</p> 
          </small>
        </div>
        
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="checkCondicionUso">
          <label class="form-check-label" for="exampleCheck1"  required>Acepto Condiciones de uso</label>
            <button class="btn btn-default btn-xs btn btn-danger" data-toggle="modal" data-target="#modalTerminoCondiciones">
              <span class="glyphicon glyphicon-link "></span>
            </button>
        </div>
        <!-- </form> -->
        <!-- END FORM REGISTRARSE -->
      </div>
      <div class="modal-footer" style="background-color: #EAECEE;">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-primary" (click)="register()">Registrarme</button>
      </div>
    </div>
  </div>
</div>
<!-- Model register end -->

<!-- Modal Condiciones de uso -->
<div class="modal fade" id="modalTerminoCondiciones" style="background-color: #EBEDEF ;" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #EAECEE;">
        <h5 class="modal-title" id="exampleModalCenterTitle">TERMINOS DE CONDICIONES DE USO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Al acceder, consultar o utilizar el Sitio Web, los Usuarios (“Vd.”, “usted”, “Usuario”, o “usuario”)
          aceptan cumplir los términos y condiciones
          establecidos en este Contrato. En caso de que usted no acepte quedar vinculado por los presentes
          términos y condiciones, no podrá acceder a, ni
          utilizar, el Sitio Web.</p>
      </div>
      <div class="modal-footer" style="background-color: #EAECEE;">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Acepto</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Condiciones de uso end -->